llama-index
llama-index-embeddings-huggingface
sentence-transformers
gradio
chromadb
llama-index-vector-stores-chroma
llama-index-llms-gemini
llama-index>=0.10.60
llama-index-llms-google-genai
google-genai
pypdf
python-docx
